@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .duo-input {
    @apply
      w-full
      px-4 py-3
      rounded-xl
      bg-orange-200
      text-gray-800
      text-lg
      border-2 border-transparent
      focus:border-orange-500
      focus:outline-none
      shadow-sm;
  }

  .duo-select {
    @apply
      w-full
      px-4 py-4
      rounded-xl
      bg-orange-200
      text-gray-800
      text-lg
      border-2 border-transparent
      focus:border-orange-500
      focus:outline-none
      shadow-sm;
  }
}
